!!! 5
%html
  %head
    %title ASS
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}/
    :css
      .log {
        height: 25vh;
        overflow-y: scroll;
      }
  %body
    %h1 Application Starting Service™
    - if @message
      .alert= @message
    = yield
    %hr/
    %i Powered by ASS #{ASS_VERSION}